h1 {
  text-align: center;
  color: #59366a;
  font-family: monospace;
  font-size: 48px;
  margin-top: 120px;
}

h2 {
  text-align: center;
  font-family: monospace;
  color: #59366a;
  margin-top: 30px;
  margin-bottom: 75px;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/018/031/original/coffeecloud-pg-two-purple-background-pan-dulce.png?1633053303");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
  border-radius: 100px;
  border: 4px dotted #9171d3;
  height: 200px;
  width: 200px;
}

img:hover {
  webkit-transform: scale(1.2);
  ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

p {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border: 1px solid #b5bdfe;
  box-shadow: 9px 9px #59366a;
  border-radius: 4px 4px 4px 4px;
  background-color: #b5bdfe;
}

button {
  font-family: monospace;
  font-weight: 100px;
  display: block;
  margin: 0 auto;
  background: #9171d3;
  color: #f1e5e5;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 4px;
  border: 2px solid #daf9ff;
  box-shadow: 9px 9px #000;
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

hr {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  color: #59366a;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 100px;
}

.footer {
  font-family: monospace;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  border: 0px;
  box-shadow: none;
}

#canvas-container {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  overflow: auto; /* Adds scrollbar if necessary */
}

canvas {
  display: block; /* Ensures canvas fills its container */
}
